.container {
  font-family: sans-serif;
  margin: 35px auto 5px auto;
  min-width: 600px;
  max-width: 700px;
  opacity: 0.95;
  text-align: left;
}
.App {
  border: 1px solid #636b71;
  border-radius: 5px;
  height: 315px;
  padding: 30px 25px;
}

.Signature {
  font-size: 10px;
}

.Signature a {
  color: #885df1;
  text-decoration: none;
}

.Signature a:hover {
  color: #6847bd;
  text-decoration: none;
}
