.ForecastDisplay {
  text-align: center;
  font-size: 14px;
}

.ForecastDisplay .row {
  margin-top: 10px;
}

.ForecastDisplay ul {
  list-style: none;
}

.ForecastDisplay .WeatherForecastIcon {
  margin: 7px 0;
}

.ForecastDisplay .WeatherForecastMinTemperature {
  margin-left: 5px;
  opacity: 0.65;
}
