.Loading h3 {
  margin-top: 20px;
}

.Search input {
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 3px 3px 3px 0px rgba(237, 237, 237, 1);
  font-size: 14px;
  margin-right: 10px;
  min-width: 215px;
  padding: 8px;
}

.Search input:focus {
  outline: none;
}

.Search button {
  box-shadow: 3px 3px 3px 0px rgba(237, 237, 237, 1);
  font-size: 14px;
  margin-right: 5px;
  text-align: center;
  padding: 8px;
  width: 75px;
}

.Search button.btn-dark {
  background-color: #885df1;
  border: 1px solid #885df1;
}

.Search button.btn-dark:hover {
  background-color: #603dba;
  border: 1px solid #603dba;
}
