.WeatherDisplay .CityDetails ul {
  font-size: 14px;
  list-style: none;
  margin: 10px 0;
  padding-left: 0;
  text-transform: capitalize;
}

.WeatherDisplay .CityDetails .CityName {
  font-size: 25px;
}

.WeatherDisplay .WeatherDetails .col {
  font-size: 14px;
  padding-left: 0;
}

.WeatherDisplay .WeatherDetails .Units {
  margin-left: 5px;
}

.WeatherDisplay .WeatherDetails a {
  color: #885df1;
  text-decoration: none;
}

.WeatherDisplay .WeatherDetails a:hover {
  color: #603dba;
}

.WeatherDisplay .WeatherDetails canvas {
  float: left;
  margin: 18px 10px 0 10px;
}

.WeatherDisplay .WeatherDetails .col .Temperature {
  font-size: 60px;
  line-height: 100px;
}

.WeatherDisplay .Units {
  font-size: 14px;
  position: relative;
  top: -30px;
}
