.WeatherDisplay .CityDetails ul {
  font-size: 14px;
  list-style: none;
  margin: 10px 0;
  padding-left: 0;
  text-transform: capitalize;
}

.WeatherDisplay .CityDetails .CityName {
  font-size: 25px;
}

.WeatherDisplay .WeatherDetails .col {
  font-size: 14px;
  padding-left: 0;
}

.WeatherDisplay .WeatherDetails .col .Temperature {
  font-size: 50px;
}

.WeatherDisplay .Units {
  font-size: 20px;
}
